/** @format */


.BlogHome {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr
}

.BlogPost {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 1fr
}

.blogPostBtn  {
    
}

.monthBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    padding: 1rem;
    background-color: var(--paper);
}


.blogNavHome {
    background-color: var(--paper);
}

.blogNavHome > .blogPostBtn {
    display: block;
}



.blogNavPost {
    background-color: var(--paper);
}

.blogNavPost > .blogPostBtn {
    display: block;
}

