.Projects {

}




.projectDescription {
  margin-left: 30px;
  margin-top: 0;
}

.projectCard {

  height: 235px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.projectImg {
  float: left;
  max-width: min(256px, 100%);
  max-height: min(256px, 100%);
}

@media (max-width: 900px) {
  .projectCard {
    height: 92%; 
    padding: 5px;
  }
  .projectDescription {
    font-size: 0.75em;
    margin: 0;
  }
  .projectImg {
    float: none;
    max-width: min(150px, 100%);
    max-height: min(150px, 100%);
  }
}