.Projects {

}



.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}





.projectCard2 img {
  display: block;
  object-fit: cover;

  float: left;
  max-width: min(256px, 100%);
  max-height: min(256px, 100%);
}

.projectCard2 .details {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  font-weight: bold;
}
















.projectCard2 {
  display: block;
  margin-top: 8px;
  width: 100%;
  height: 235px;
  position: relative;
  overflow: hidden;
  border: 8px solid #bbdefb;
  border-radius: 5px;
}

.projectDescription {
  margin-left: 30px;
  margin-top: 0;
}

.projectCard {
  display: block;
  
  padding: 10px;
  margin: 10px;
  transition: all 0.3s ease-in-out;
}

.projectImg {
  float: left;
  max-width: min(256px, 100%);
  max-height: min(256px, 100%);
}



.sortOptions {
  display: block;
  margin-block: 1.2em;
}

.sortOption {
  cursor: pointer;
  border: 2px solid var(--background);
  border-radius: 1em;
  margin: 5px;
  padding: 3px;
}

@media (max-width: 900px) {
  .projectCard {
    height: auto;
    padding: 5px;
  }
  .projectDescription {
    font-size: 0.75em;
    margin: 0;
  }
  .projectImg {
    max-height: min(100px, 100%);
    margin-bottom: -5px;
    float: none;
  }
}