:root {
  --background: #242424;
  --paper: #2e2e2e;
  --text: #fff;
  --text-secondary: #aaa;
  --accent: #666eff;
  --accent-dark: #535bf2;
  --accent-light: #7a7aff;
  --accent-lighter: #b3b3ff;
}



#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100vw;
  overflow: hidden;
  
}

.fullWidth {
  width: 100vw;
}

.App {
  overflow: visible;
  font-family: 'Roboto', sans-serif;
  width: 850px;
  margin: 0 auto;
  
}

.card {
  background-color: var(--paper);
  width: 12em;
  display: inline-block;
  margin: 1em;
  padding: 1em;
  border-radius: 0.4em;
  box-shadow: 0 0 0.5rem rgba(222, 145, 223, 0.182);
}

.NavButton {
  font-size: 1.2em;
  width: 7em;
  margin: 0.4em;
  padding: 0.4em;
  background-color: var(--paper);
  border: 2px solid var(--background);
  cursor: pointer;
}

.NavButton:hover {
  
  border-color: var(--accent);
  animation: NavButtonHover 2s infinite;
}

.NavBar {
  margin-bottom: 1em;
  margin-inline: auto;
  width: 100%;
}

/* Add animation for navbutton border */
@keyframes NavButtonHover {
  0% {
    border-color: var(--accent-dark);
  }
  50% {
    border-color: var(--accent-light);
  }
  100% {
    border-color: var(--accent-dark);
  }
}

@media (max-width: 900px) {
  .App {
    width: 100%;
  }
  .NavBar {
    max-width:650px;
  }
  .fullWidth {
    width: 100%;
  }
}

@media (max-width: 572px) {
  .NavBar {
    max-width:300px;
  }

}